@{
    ViewData["Title"] = "Willkommen";
}

<body class="container-fluid bg-dark text-white">
    <div class="h1 text-white">Herzlich willkommen auf meiner Website</div>
    <div class="container">
        <div class="h2 bg-rainbow col-auto mt-3">Verwendete Technologien:</div>
        <ul class="list-group list-group-flush">
            <button type="button" class="list-group-item list-group-item-action">Docker</button>
            <button type="button" class="list-group-item list-group-item-action">C#</button>
            <button type="button" class="list-group-item list-group-item-action">Visual Studio</button>
            <button type="button" class="list-group-item list-group-item-action">ASP.NET</button>
            <button type="button" class="list-group-item list-group-item-action">HTML</button>
            <button type="button" class="list-group-item list-group-item-action">JavaScript</button>
            <button type="button" class="list-group-item list-group-item-action">CSS</button>
            <button type="button" class="list-group-item list-group-item-action">Bootstrap</button>
        </ul>
        <div class="h2 bg-rainbow col-auto mt-3">Auf dieser Website implementiert:</div>
        <ul class="list-group list-group-flush">
            <a href="/account/login" type="button" class="list-group-item list-group-item-action">Login</a>
            <a href="/home/snakegame" type="button" class="list-group-item list-group-item-action">Snake Game</a>
            <a href="/home/tictactoe" type="button" class="list-group-item list-group-item-action">Tic Tac Toe</a>
        </ul>
    </div>
    
</body>


<style>

    .bg-rainbow {
        background: linear-gradient(135deg, #4f46e5, #6366f1, #7c3aed, #8b5cf6, #9333ea, #6d28d9, #3b82f6, #2563eb );
        color: white;
        border-radius: 0.4em;
        padding: 0.15em;
    }

    .list-group {
        margin-left: 1em;
    }


</style>